<div class="container-fluid">
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-primary">
    <a class="navbar-brand fs-3" href="#">{{appName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto position-absolute top-0 end-0">
        <!--<li *ngFor="let items of menuItems" class="nav-item fs-4" >
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="{{items.linkUrl}}" (click)="showActive(items.linkName);">{{items.linkName}}</a>
        </li>-->
       <!-- <li *ngFor="let items of menuNav; index as i" class="nav-item fs-4" >
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="{{items['navUrl']}}" (click)="showActive(items['navTitle']);">{{items['navTitle']}}</a>
        </li> -->

      </ul>

    </div>
  </nav>

</div>
