/* .container-fluid {
  margin-top: 3%;
} */
/* .anyClass {
  height:150px;
  overflow-y: scroll;
      flex-direction: column;
overflow-x: hidden;
} */

/* .vertical-scrollable {
            position: absolute;
           // top: 120px;
            //bottom: 100px;
            //left: 180px;
            //width: 50%;
            //overflow-y: scroll;
       } */




