<div class="container-fluid">
  <div class="row flex-nowrap">
    <div id="myId" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light sticky-top"
         style="border: 0px solid yellow; position: absolute; margin-top: 5%; min-height: 548px"> <!--bg-dark-->
      <div style="position: absolute; max-height: 500px; overflow: auto;"
           class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start overflow-auto" id="menu">
          <li *ngFor="let item of menuItems">
            <a  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLink="{{item.linkUrl}}" href="{{item.linkUrl}}"  class="nav-link px-0"> <span class="d-none d-sm-inline" >{{item.linkName}}</span></a>
          </li>
        </ul>
        <hr>

       <!-- <div class="dropdown pb-4">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="" alt="hugenerd" width="30" height="30" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1">loser</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>-->
      </div>

    </div>
    <div id="myIds" class="col py-3 sticky-top" style=" border: 0px solid red;
    position: absolute;
    margin-top: 5%;
    margin-left: 17%;
    max-height: 89%;
    max-width: 83%;" >
     <router-outlet (activate)="sendDataItema($event)"></router-outlet>
    </div>
  </div>
</div>
